* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #c9cdd2;
  color: #342b2b;
}

.app {
  width: 90%;
  max-width: 1000px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.todo-container {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.todo-box {
  flex: 1;
}

.todo-box {
  flex: 1;
  background-color: white;
  padding: 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  min-height: 400px;
}

.todo-box h2 {
  margin-top: 0;
  text-align: center;
}

.todo-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

#todoInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.todo-form button {
  padding: 10px 16px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  background-color: #f1f3f5;
  padding: 14px;
  margin-bottom: 14px;
  border-radius: 6px;
}

.todo-text {
  display: block;
  margin-bottom: 8px;
}

.todo-actions {
  display: flex;
  gap: 8px;
}

.edit-btn {
  background-color: #3b82f6;
  color: black;
}

.delete-btn {
  background-color: #ef4444;
  color: black;
}

.toggle-btn {
  background-color: #22c55e;
  color: black;
}

button{
    cursor: pointer;
}